{% extends 'base.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css" media="screen, print" />
    <style>
        .choices_list ul{list-style:none;
        color:#0C3C26;}
        body {
        background-color:white;
        }
        .btn-primary {
                color: #fff;
                background-color: #44B78B;
                border-color: #fff;
                }
        .nav{background-color: #0C3C26;
         margin: 0 auto;}
        .container-fluid {background-color: #0C3C26;}
        .navbar-header div{background-color: #0C3C26;}
        .navbar-default .navbar-nav > .active > a{
         background-color: #0C3C26;
         }
         label{
             font-weight: normal;
             color: #44B78B;
         }
         .navbar {

         margin-bottom: 0px;
         border: none;
         }
        .copy-banner {
        padding: 1px 0;
        }
        .copy-banner {
            background: #44B78B;
            padding: 1px 10px;
        }
        .container {
            margin: 0 auto;
            padding-left: 6px;
        }
        .copy-banner h1 {
            font-size: 32px;
            font-size: 3.2rem;
            margin: .35em 0 .35em;
            color: #C9F0DD;
            padding: 0px 0 6px;
        }
        .copy-banner h1 {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 24px;
            font-size: 2.4rem;
            color: #C9F0DD;
            font-weight: 300;
            line-height: 1.3;
            padding: 0px 0 6px;
            margin: .45em 0 .35em;
        }
    </style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:#fff" href="#">Birthday Voting</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a style="color:#fff" href="{% url 'polls:voting'%}">Voting</a></li>
      <li class="active"><a style="color:#44B78B" href="{% url 'polls:notes'%}" style="color:#fff">Notes</a></li>
      <li><a href="{% url 'polls:admin'%}" style="color:#fff">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'polls:profile'%}" style="color:#fff">{{ user.username }}</a></li>
       <li><a href="{% url 'polls:logout'%} ">
      <i class="glyphicon glyphicon-log-out" title="Log out" style="color:#fff">
      </i>
      </a>
    </ul>
  </div>
</nav>
<div class="copy-banner">
      <div class="container">
          <h1>Notes Page</h1>
      </div>
</div>
        <div style="margin-top:5%;" class="col-md-6 col-md-offset-3">
        <h3 class="text-center" style="margin-top:5%; color:#0C3C26;">Please add notes if you have any suggestion about your choice</h3>
            <p class="text-center" style="color:#44B78B">(Here you can add theme of your party or write which gift you prefer to receive on your birthday,
                also specify date and time.)</p>
            <form action="{% url 'polls:notes' %}" method="post" style="margin-top:10%;">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                        <div class="col-md-12">
                            <div class="form-group">
                                {% csrf_token %}
                                {% for field in form %}
                                {{ field.errors }}
                                <textarea id="{{ field.name }}" class="form-control input-sm" name="{{ field.name }}"></textarea>
                                {% endfor %}
                            </div>
                            <div style="margin-top:10px" class="form-group">
                                 <div style="margin-top:40px" class="col-sm-9 col-md-offset-4">
                                     <button class="btn btn-primary" type="submit" style="width:30%;">Submit</button>
                                 </div>
                            </div>
                        </div>
            </form>
        </div>
{% endblock %}