{% extends 'base.html' %}
{% load bootstrap3 %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css" media="screen, print" />
<style>
        .table{padding: 10px;}
        .btn {
            padding: 1px 5px;
            font-size: 15px;
            line-height: 1.5;
            border-radius: 3px;
        }
        .choices_list ul{list-style:none;
        color:#0C3C26;}
        body {
        background-color:white;
        }
        .btn-primary {
                color: #fff;
                background-color: #44B78B;
                border-color: #fff;
                }
        .nav{
         margin: 0 auto;}
        .container-fluid {background-color: #0C3C26;}
        .navbar-header div{background-color: #0C3C26;}
        .navbar-default .navbar-nav > .active > a{
         background-color: #0C3C26;
         }
         .navbar {

         margin-bottom: 0px;
         border: none;
         }
        .copy-banner {
        padding: 1px 0;
        }
        .copy-banner {
            background: #44B78B;
            padding: 1px 10px;
        }
        .container {
            margin: 0 auto;
            padding-left: 6px;
        }
        .copy-banner h1 {
            font-size: 32px;
            font-size: 3.2rem;
            margin: .35em 0 .35em;
            color: #C9F0DD;
            padding: 0px 0 6px;
        }
        .copy-banner h1 {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 24px;
            font-size: 2.4rem;
            color: #C9F0DD;
            font-weight: 300;
            line-height: 1.3;
            padding: 0px 0 6px;
            margin: .45em 0 .35em;
        }
    </style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:#fff;">Birthday Voting</a>
    </div>
     <ul class="nav navbar-nav">
      <li><a style="color:#fff" href="{% url 'polls:voting'%}">Voting</a></li>
      <li><a style="color:#fff" href="{% url 'polls:notes'%}" style="color:#fff">Notes</a></li>
      <li class="active"><a href="{% url 'polls:admin'%}" style="color:#44B78B">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'polls:profile'%}" style="color:#fff;">{{ user.username }}</a></li>
      <li><a href="{% url 'polls:logout'%} ">
      <i class="glyphicon glyphicon-log-out" title="Log out" style="color:#fff">
      </i>
      </a>
    </ul>
  </div>
</nav>
<div class="copy-banner">
      <div class="container">
          <h1>Admin Page</h1>
      </div>
</div>
<div class="container">
    <form style="padding: 2%;">
        {% csrf_token %}
        <ul class="nav nav-tabs">
            <li role="presentation"><a style="color:#555;" href="{% url 'polls:admin'%}">Users</a></li>
            <li role="presentation" class="active"><a href="{% url 'polls:settings' %}">Settings</a></li>
        </ul>
        <div style="margin-top:20px;">
        <button class="btn btn-primary" type="submit"><a style="color:#fff;" href="{% url 'polls:create_notes'%}">Create notes field</a></button>
            </div>
        <div style="margin-top:20px;">
        <button class="btn btn-primary" type="submit"><a style="color:#fff;" href="{% url 'polls:create_choice'%}">Create choice field</a></button>
            </div>
        <table class="table" style="margin-top:20px;">
        <thead>
        <tr>
            <th>Notes field</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
        {% for note in notes%}
        <tr>
            <td>{{note.label}}New notes field</td>
            <td><a href="{% url 'polls:delete_notes_field' notes_id=note.id %}" style="width: 55px; height: 25px; background-color: red; border-color: red;" class="btn btn-xs btn-success">Delete</a></td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
    </form>
    </div>
{% endblock %}