{% extends 'base.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css" media="screen, print" />
{% endblock %}

{% block content %}
    <h1 class="text-center" style="margin-top:10%;">Thank you for your voting {{ user.username }}!</h1>
    <p class="text-center">(If you are seeing this page, it is mean you already made your choice and notifications were sent to all members of Ukraine office)</p>
    <form class="col-md-7 col-md-offset-1" style="width:100%; margin-top:10%;" action="{% url 'polls:login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div style="margin-top:40px" class="col-sm-8 col-md-offset-4">
            <a class="btn btn-primary" href="{% url 'polls:logout' %}" style="width:20%;">Logout</a>
        </div>
    </div>
    </form>
{% endblock %}