{% extends 'base.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css" media="screen, print" />
    <style>
        .choices_list ul{list-style:none;
        color:#0C3C26;}
        body {
        background-color:#F9FFFD;
        }

        .btn-primary {
                color: #fff;
                background-color: #44B78B;
                border-color: #fff;
                }
        .text-center {
        color: #0C3C26;
        }
        .label {
        color: #0C3C26;
        }
        .copy-banner {
        padding: 1px 0;
        }
        .copy-banner {
            background: #44B78B;
            padding: 1px 0px;
        }
        .container {
            max-width: 2000px;
        }
        .copy-banner h1 {
            font-size: 32px;
            font-size: 3.2rem;
            margin: .35em 0 .35em;
            color: #C9F0DD;
            padding: 0px 0 6px;
        }
        .copy-banner h1 {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 24px;
            font-size: 2.4rem;
            color: #C9F0DD;
            font-weight: 300;
            line-height: 1.3;
            padding: 0px 0 6px;
            margin: .45em 0 .35em;
        }
    </style>

{% endblock %}

{% block content %}
<div class="copy-banner">
      <div class="container">

  <h1>Login Page</h1>

      </div>
    </div>
{% if form.errors %}
<p class="text-center" style="margin-top:1%;">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="text-center" style="margin-top:1%;"> Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p class="text-center">Please login to see this page.</p>
    {% endif %}
{% endif %}

 <div class="container">
        <div id="loginbox" style="margin-top:5%;" class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" >
                <div class="panel-body">
                    <form id="loginform" class="form-horizontal" role="form" action="." method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="{{ form.username.name }}">{{ form.username.label }}:</label>
                                <input id="{{ form.username.name }}" type="text" class="form-control" name="{{ form.username.name }}">
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password.name }}">{{ form.password.label }}:</label>
                                <input id="{{ form.password.name }}" type="password" class="form-control" name="{{ form.password.name }}">
                            </div>
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <div style="margin-top:10px" class="col-sm-10 col-md-offset-4">
                                <button id="btn-login" class="btn btn-primary" type="submit" style="width:30%;">Sign in</button>
                            </div>
                        </div>
                    </form>

                    {# Assumes you setup the password_reset view in your URLconf #}
                    <div class="text-center"><a href="{% url 'password_reset' %}" style="color:#0C3C26">Forgot password?</a></div>
                    <div class="text-center"><a href="{% url 'polls:register' %}" style="color:#0C3C26">Sign up</a></div>
                </div>
            </div>
        </div>
 </div>

{% endblock %}