{% extends 'base.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css" media="screen, print" />
{% endblock %}

{% block content %}
<div class="container">
        <div id="loginbox" style="margin-top:10%;" class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" >
                <div class="panel-body">
                    <p>
                       Your password has been set. You may go ahead and <a href="{% url 'polls:login' %}">sign in</a> now.
                    </p>
                </div>
             </div>
        </div>
</div>
{% endblock %}